<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" type="image/png" href="../images/favicon.ico"></link>
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Pacifico|Playfair+Display+SC" rel="stylesheet">
  <link rel="stylesheet" href="../style.css"></link>
<title>Photos</title>
</head>
<body>
  <div class="aboveNav">
    <h1>Nina Nigro</h1>
    <h2>Permanent Makeup</h2>
    <p class="logo">KN</p>
  </div>
  <nav class="navBar">
    <a class="link" href="../index.html">About</a>
    <a class="link" href="../views/services.html">Services</a>
    <a class="link" href="../views/photos.html">Photos</a>
    <a class="link" href="../views/faq.html">FAQ</a>
    <a class="link" href="../views/contact.html">Contact</a>
  </nav>
  <h1>Photos</h1>
</body>
</html>
